<main class="container">
    <a id="main-content" tabindex="-1"></a>
    <div class="row">
        <div class="col-sm-12">
            {{> page-titleBlock}}
        </div>
    </div>
    <div class="row-grid">
        <div class="map-col col-grid">
            {{> map}}
        </div>
        <div class="map-sidebar col-grid">
            {{> (lookup . 'partialName') }}
            {{> map-legend}}
        </div>
    </div>
</main>
