<main class="container">
    <a id="main-content" tabindex="-1"></a>
    <div class="row">
        <div class="col-sm-12">
           <h1>Nationwide Statistics</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{> (lookup . 'partialName') }}
        </div>
    </div>
</main>
