<main class="container">
    <a id="main-content" tabindex="-1"></a>
    <div class="row">
        <div class="col-sm-12">
            {{> page-titleBlock}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{> map}}
        </div>
        <div class="map-sidebar col-md-4">
            <div id="tab-div-nav" class="tab-nav">
                <ul class="layer-switch nav nav-pills" role="navigation">
                    <li class="active" role="presentation"><a href="#fixed" aria-controls="fixed" role="tab" data-toggle="tab">Fixed</a></li>
                    <li role="presentation"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Provider</a></li>
                    <li role="presentation"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <section id="fixed" class="tab-pane active" role="tabpanel">
                    <section class="sect-census">
                        <h3 class="h4">[county, state] Census Block</h3>
                        <dl class="dl-horizontal">
                            <dt>FIPS Code:</dt>
                            <dd>190799601001019</dd>
                            <dt>Designation:</dt>
                            <dd>Rural</dd>
                        </dl>
                        <table class="table table-condensed" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Provider</th>
                                    <th>Tech</th>
                                    <th>Down</th>
                                    <th>Up</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span title="VSAT_Systems">VSAT_Syste</span></td>
                                    <td>Satellite</td>
                                    <td class="td-right">2</td>
                                    <td class="td-right">1.3</td>
                                </tr>
                                <tr>
                                    <td><span title="Prairieinet">Prairieine</span></td>
                                    <td>Fixed wireless</td>
                                    <td class="td-right">5</td>
                                    <td class="td-right">1</td>
                                </tr>
                                <tr>
                                    <td><span title="HughesNet">HughesNet</span></td>
                                    <td>Satellite</td>
                                    <td class="td-right">15</td>
                                    <td class="td-right">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="sect-fixed">
                        <h3 class="h4">Fixed</h3>
                        <canvas id="chartFixed" width="300" height="220"></canvas>
                    </section>
                    <section class="sect-population">
                        <h3 class="h4">Population</h3>
                        <canvas id="chartPop" class="chart-canvas" width="300" height="220" style="width: 300px; height: 200px;"></canvas>
                    </section>
                </section>
                <section id="provider" class="sect-provider tab-pane" role="tabpanel">
                <h3 class="h4">Providers in <span>[county, state]</span></h3>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Provider</th>
                                <th>Tech</th>
                                <th>Down</th>
                                <th>Up</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span title="VSAT_Systems">VSAT_Syste</span></td>
                                <td>Satellite</td>
                                <td class="td-right">2</td>
                                <td class="td-right">1.3</td>
                            </tr>
                            <tr>
                                <td><span title="Prairieinet">Prairieine</span></td>
                                <td>Fixed wireless</td>
                                <td class="td-right">5</td>
                                <td class="td-right">1</td>
                            </tr>
                            <tr>
                                <td><span title="HughesNet">HughesNet</span></td>
                                <td>Satellite</td>
                                <td class="td-right">15</td>
                                <td class="td-right">2</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="demographics" class="sect-demog tab-pane" role="tabpanel">
                    <h3 class="h4">[county, state] Demographics</h3>
                    <dl class="dl-horizontal">
                        <dt>Population:</dt>
                        <dd>318,857,056</dd>
                        <dt>Density:</dt>
                        <dd>33.87 per sq. mile</dd>
                        <dt>Urban:</dt>
                        <dd>257,678,907</dd>
                        <dt>Rural:</dt>
                        <dd>61,178,149</dd>
                        <dt>Male:</dt>
                        <dd>156,999,225</dd>
                        <dt>Female:</dt>
                        <dd>161,857,831</dd>
                        <dt>Over 65 Years:</dt>
                        <dd>14.14%</dd>
                        <dt>Attended some college:</dt>
                        <dd>63.13%</dd>
                        <dt>Unemployment:</dt>
                        <dd>7.39%</dd>
                        <dt>Median Household Income:</dt>
                        <dd>$53,657</dd>
                    </dl>
                    
                    <canvas id="chartDemog" width="300" height="220"></canvas>
                </section>
            </div>
        </div>
    </div>
</main>
