<div class="tab-nav">
    <ul class="layer-switch nav nav-pills" role="navigation">
        <li class="active" role="presentation"><a href="#fixed" aria-controls="fixed" role="tab" data-toggle="tab">Fixed</a></li>
        <li role="presentation"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Providers</a></li>
        <li role="presentation"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
    </ul>
</div>
<div class="tab-content">
    <div id="tabInstructs">
        <p>Click on the map or search for a location using an address or coordinates to display provider and demographic information.</p>
        <p>Example Searches:</p>
        <ul>
            <li>148 Lafayette Street, New York, NY 10013</li>
            <li>Lumberport, WV</li>
            <li>Latitude: 40.566353, Longitude: -105.094573</li>
        </ul>
    </div>
    <section id="fixed" class="active tab-pane hide" role="tabpanel">
        <section class="sect-census">
            <h3 class="h4">Census Block</h3>
            <dl class="dl-horizontal">
                <dt>FIPS Code:</dt>
                <dd data-fips></dd>
                <dt>Designation:</dt>
                <dd data-rural></dd>
            </dl>
        </section>
        <section class="sect-fixed">
            <h3 class="h4">Fixed</h3>
            <canvas id="chartFixed" width="300" height="220"></canvas>
        </section>
    </section>
    <section id="provider" class="sect-provider tab-pane hide" role="tabpanel">
        <section class="sect-census">
            <h3 class="h4">Census Block</h3>
            <dl class="dl-horizontal">
                <dt>FIPS Code:</dt>
                <dd data-fips></dd>
                <dt>Designation:</dt>
                <dd data-rural></dd>
            </dl>
        </section>
        <section>
            <h3 class="h4">Providers</h3>
            <table id="table-providers" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name <span class="icon icon-sorting"></span></th>
                        <th>Tech <span class="icon icon-sorting"></span></th>
                        <th>Down <span class="icon icon-sorting"></span></th>
                        <th>Up <span class="icon icon-sorting"></span></th>
                    </tr>
                </thead>
            </table>
        </section>
    </section>
    <section id="demographics" class="sect-demog tab-pane hide" role="tabpanel">
        <h3 class="h4"><span data-county></span>, <span data-state></h3>
        <dl class="dl-horizontal">
            <dt>Total Population:</dt>
            <dd data-totalPop></dd>
            <dt>Pop Density (pop/mi<sup>2</sup>):</dt>
            <dd data-popDensity></dd>
            <dt>Per Capita Income:</dt>
            <dd>$<span data-incomeCapita></span></dd>
            <dt>Total Pop w/o Access:</dt>
            <dd data-totalPopNoAccess></dd>
            <dt>% Urban Pop w/o Access:</dt>
            <dd data-urbanPop></dd>
            <dt>% Rural Pop w/o Access:</dt>
            <dd data-ruralPop></dd>
        </dl>
        <canvas id="chartDemog" width="300" height="220"></canvas>
    </section>
</div>
