<div id="tab-div-nav" class="tab-nav">
    <ul class="layer-switch nav nav-pills" role="navigation">
        <li class="active" role="presentation"><a href="#fixed" aria-controls="fixed" role="tab" data-toggle="tab">Fixed</a></li>
        <li role="presentation"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Providers</a></li>
        <li role="presentation"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
    </ul>
</div>
<div class="tab-content">
    <section id="fixed" class="tab-pane active" role="tabpanel">
        <section class="sect-census">
            <h3 class="h4"><span data-county></span>, <span data-state></span></h3>
            <dl class="dl-horizontal">
                <dt>FIPS Code:</dt>
                <dd data-fips></dd>
                <dt>Designation:</dt>
                <dd data-rural></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Total Population:</dt>
                <dd data-totalPop></dd>
                <dt>Pop Density (pop/mi<sup>2</sup>):</dt>
                <dd data-popDensity></dd>
                <dt>Per Capita Income:</dt>
                <dd>$<span data-incomeCapita></span></dd>
                <dt>Total Pop w/o Access:</dt>
                <dd data-totalPopNoAccess></dd>
                <dt>% Urban Pop w/o Access:</dt>
                <dd data-urbanPop></dd>
                <dt>% Rural Pop w/o Access:</dt>
                <dd data-ruralPop></dd>
            </dl>
            <table class="table table-condensed" style="display: none;">
                <thead>
                    <tr>
                        <th>Provider</th>
                        <th>Tech</th>
                        <th>Down</th>
                        <th>Up</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span title="VSAT_Systems">VSAT_Syste</span></td>
                        <td>Satellite</td>
                        <td class="td-right">2</td>
                        <td class="td-right">1.3</td>
                    </tr>
                    <tr>
                        <td><span title="Prairieinet">Prairieine</span></td>
                        <td>Fixed wireless</td>
                        <td class="td-right">5</td>
                        <td class="td-right">1</td>
                    </tr>
                    <tr>
                        <td><span title="HughesNet">HughesNet</span></td>
                        <td>Satellite</td>
                        <td class="td-right">15</td>
                        <td class="td-right">2</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="sect-fixed">
            <h3 class="h4">Fixed</h3>
            <canvas id="chartFixed" width="300" height="220"></canvas>
        </section>
    </section>
    <section id="provider" class="sect-provider tab-pane" role="tabpanel">
        <h3 class="h4">FIPS Code: <span data-fips></span></h3>
        <table id="table-providers" class="table table-condensed">
            <thead>
                <tr>
                    <th>Provider <span class="icon icon-sorting"></span></th>
                    <th>Tech <span class="icon icon-sorting"></span></th>
                    <th>Down <span class="icon icon-sorting"></span></th>
                    <th>Up <span class="icon icon-sorting"></span></th>
                </tr>
            </thead>
        </table>
    </section>
    <section id="demographics" class="sect-demog tab-pane" role="tabpanel">
        <h3 class="h4"><span data-county></span>, <span data-state></h3>
        <dl class="dl-horizontal">
            <dt>Population:</dt>
            <dd data-totalPop></dd>
            <dt>Density (pop/mi<sup>2</sup>):</dt>
            <dd data-popDensity></dd>
            <dt>Urban:</dt>
            <dd data-urbanpop></dd>
            <dt>Rural:</dt>
            <dd data-ruralpop></dd>
            <dt>Male:</dt>
            <dd></dd>
            <dt>Female:</dt>
            <dd></dd>
            <dt>Over 65 Years:</dt>
            <dd></dd>
            <dt>Attended some college:</dt>
            <dd></dd>
            <dt>Unemployment:</dt>
            <dd></dd>
            <dt>Median Household Income:</dt>
            <dd></dd>
        </dl>
        <canvas id="chartDemog" width="300" height="220"></canvas>
    </section>
</div>
