<header class="site-header">
    <nav role="navigation">
        <div class="navbar navbar-default navbar-primary">
            <div class="container">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                          <a title="Home" href="http://fcc.gov" class="navbar-logo">
                            <span class="sr-only">Federal Communications Commission</span>
                          </a>
                        </h1>
                </div>
                <ul aria-hidden="true" id="menu-primary" class="nav navbar-nav nav-offcanvas-right">
                    <li class="active">
                        <a aria-controls="browse-by-category" href="#browseCategory">
                            <div class="text-prefix">December 2016</div>
                            <strong class="title-emphasis">Broadband Progress Report</strong>
                        </a>
                    </li>
                </ul>
                <div class="navbar-controls">
                    <button class="btn hamburger navbar-btn btn-toggle-menu" type="button" data-toggle-direction="right" data-toggle="offcanvas">
                        <span class="btn-inner btn-inner-menu"><span class="sr-only">Menu</span></span>
                    </button>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="navbar-secondary navbar-default yamm nav-offcanvas nav-offcanvas-right">
            <div id="menu-secondary" class="tab-content">
                <div class="container tab-pane active" id="browse-by-category">
                    <ul id="browseCategory" class="nav nav-tabs menu-secondary js-browseBy" role="navigation">
                        <li>
                            <a class="active" href="#"><span class="link-title">Deployment</span></a>
                        </li>
                        <li>
                            <a href="#">Nationwide</a>
                        </li>
                        <li>
                            <a href="#">Speed</a>
                        </li>
                        <li>
                            <a href="#">Technology</a>
                        </li>
                        <li>
                            <a href="#">Providers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                    <ul id="browseBureau" class="nav nav-tabs menu-secondary js-browseBy hide" role="navigation">
                        <li>
                            <a href="https://www.fcc.gov/consumer-governmental-affairs#block-menu-block-4"><span class="link-title">Consumer</span></a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/enforcement#block-menu-block-4">Enforcement</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/international#block-menu-block-4">International</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/media#block-menu-block-4">Media</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/public-safety-and-homeland-security#block-menu-block-4">Public Safety</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/wireless-telecommunications#block-menu-block-4">Wireless</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/wireline-competition#block-menu-block-4">Wireline</a>
                        </li>
                        <li>
                            <a href="https://www.fcc.gov/offices-bureaus#block-menu-block-4">Offices</a>
                        </li>
                    </ul>
                    <!--.nav-tabs -->
                </div>
            </div>
            <!-- .secondary-menu -->
        </div>
    </nav>
</header>
